body{
  font-family: Arial;
  background: linear-gradient(#ffe6f0,#fff);
  text-align:center;
}

.hidden{display:none;}

#login{
  margin-top:30vh;
}

input{
  padding:10px;
  width:200px;
  margin:10px;
}

button{
  padding:10px 20px;
  background:#ff5c8a;
  color:white;
  border:none;
  border-radius:5px;
}

#timeline{
  margin:30px;
}
.event{
  background:white;
  margin:15px auto;
  padding:15px;
  max-width:500px;
  border-radius:10px;
}
