body{
  font-family: Arial;
  background: linear-gradient(#ffe6f0,#fff);
  text-align:center;
}

.hidden{display:none;}

#login{
  margin-top:30vh;
}

input{
  padding:10px;
  width:200px;
  margin:10px;
}

button{
  padding:10px 20px;
  background:#ff5c8a;
  color:white;
  border:none;
  border-radius:5px;
}

#timeline{
  margin:30px;
}
.event{
  background:white;
  margin:15px auto;
  padding:15px;
  max-width:500px;
  border-radius:10px;
  /* Add this to style.css */
.event-img {
  width: 100%;       /* Makes image fit inside the white box */
  max-width: 400px;  /* Prevents it from getting too huge */
  border-radius: 8px; /* Smooth corners */
  margin-bottom: 10px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.date {
  color: #ff5c8a;
  font-weight: bold;
  font-size: 0.9em;
}
}

